<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tina demo</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.min.css" />
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5 text-black-50">Tina Demo</h1>
        <h3 class="text-center mb-5">探索 Canvas：超越 HTML 與 CSS 的繪畫畫布</h3>
        <div class="row row-cols-4">
            {{#each projects}}
            <a class="link-underline-light mb-4" href="{{url}}" target="_blank" class="col">
                <div class="card" style="height: 100%">
                    <img src="./assets/images/{{image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">{{title}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
            <div class="mb-4" href="{{url}}" target="_blank" class="col">
                <div class="card" style="height: 100%">
                    <div class="card-body" style="display: flex; flex-direction: column; justify-content: center">
                        <h5 class="card-title fw-bold mb-4">Canvas 相關套件、參考作品</h5>
                        <ul class="card-text">
                            <li class="mb-3"><a class="link-opacity-100" href="https://openprocessing.org/"
                                    target="_blank">P5.js-生成藝術大神們愛用涵式庫</a>
                            </li>
                            <li class="mb-3"><a class="link-opacity-100" href="https://threejs.org/"
                                    target="_blank">Three.js-製作 3D 網頁都用它</a></li>
                            <li class="mb-3"><a class="link-opacity-100" href="https://www.babylonjs.com/featuredemos/"
                                    target="_blank">Babylon.js-物理模擬很強的遊戲引擎</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>